{% extends 'base.html.twig' %}

{% block title 'Agence TMP' %}

{% block body %}
    <div class="jumbotron text-center">   
            <h1>Agence TMP</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto animi quibusdam nisi rerum veritatis consequuntur omnis tenetur, voluptatem consectetur veniam maiores, nemo recusandae nesciunt quis sapiente vel? Pariatur, nisi consectetur.</p>
    </div>  

    <div class="container">
        <h2>Les premiers biens de notre agence</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.titre }}</a>
                                <p class="card-text">{{ property.ville }} </p>
                                <div class="text-primary" style="font-weight: bold; font-size: 2rem" >{{ property.formatPrix }} Fcfa</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
