{% extends 'base.html.twig' %}

{% block title property.titre %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    photo
                </div>

                <div class="col-md-4">
                    <h1>{{ property.titre }}</h1>
                    <h2>{{ property.pieces }} pieces - {{ property.surface }} m²</h2>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold;">{{ property.formatPrix }} Fcfa</div>
                    <a href="#" class="btn btn-primary">Contacter l'agence</a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        

         <div class="row">
             <div class="col-md-8">
                 <h2>Caracteristiques</h2>
                 <table class="table table-striped">
                     <tr>
                         <td>Surface Habitable</td>
                         <td>{{ property.surface }} m²</td>
                     </tr>
                     <tr>
                         <td>Pieces</td>
                         <td>{{ property.pieces }}</td>
                     </tr>
                     <tr>
                         <td>Chambres</td>
                         <td>{{ property.chambre }}</td>
                     </tr>
                     <tr>
                         <td>Etage</td>
                         <td>{{ property.etage }}</td>
                     </tr>
                 </table>
             </div>
             <div class="col-md-4">
                 <h2>Specificites</h2>
                 <p>
                    {{ property.description | nl2br }}
                 </p>
             </div>
         </div>
    </div>
{% endblock %}